$namespace: pikapix;

/// @author Frank Dip
/// Pixel Pikachu with canvas
/// @version 1.0

/////////////////////////////////////////////////
/// Classes
/////////////////////////////////////////////////

.#{$namespace}-wrapper {
  width: 450px;
  margin: auto;
}
